header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 350px;
  width: 100%;
}
h1 {
  font-size: 50px;
  color: greenyellow;
}

.partL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partR {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.partR > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.contact {
  display: flex;

  gap: 5px;
}
.contact > div {
  display: flex;
  flex-direction: column;

  align-items: start;
  border-top: 2px solid greenyellow;
  border-left: 2px solid greenyellow;

  border-radius: 5px;
}

.contact > div > img {
  width: 20px;
}
.contact > div > a {
  text-decoration: none;
  margin-top: 15px;
  color: black;
}
.contact > div > a:hover {
  color: blue;
  cursor: pointer;
}
.contact div:last-of-type img {
  width: 13px;
}
